---
import "../assets/app.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---
<!doctype html>
<html lang="en" data-theme="ekselera">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/png" href="/icon.png" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>Ekselera - Automate & Scale</title>
	</head>
	<body class="min-h-screen flex flex-col bg-base-100 text-base-content">
		<Navbar />
		<main class="flex-grow">
			<slot />
		</main>
		<Footer />
	</body>
</html>
